.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}



.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.features {
  padding: 4rem 0;
  width: 100%;
}

.features h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 2rem 0;
  }

  .features .col {
    margin-bottom: 2rem;
  }
}